<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/home">Home</a>
    <div class="ml-auto" sec:authorize="isAuthenticated()">
      <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
        <button class="btn btn-danger my-2 my-sm-0" type="submit">로그아웃</button>
      </form>
    </div>
    <!-- other navbar content -->
  </nav>
</div>
</html>