<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        th:hover {
            background-color: #f8f9fa; /* Light grey background on hover */
            cursor: pointer; /* Optional: Changes cursor to indicate clickable */
        }
    </style>
</head>
<body>
<div th:fragment="commonTable(headers, dataList, type)" class="rounded-lg shadow mt-2"
     style="overflow: hidden;">
    <table class="table table-hover table-borderless text-center">
        <thead class="bg-info text-white">
        <tr>
            <!-- 차량 대여, 관리 테이블 헤더 -->
            <th th:each="header, iter : ${headers}" th:if="${(type == 'manage' || type == 'rental') && iter.index != 4}"
                th:attr="data-index=${iter.index}" onclick="sortTable(this)" th:text="${header}"></th>
            <!-- 차량 대여 내역 테이블 헤더 -->
            <th th:each="header, iter : ${headers}" th:if="${type == 'rentalHistory'}"
                th:attr="data-index=${iter.index}" onclick="sortTable(this)" th:text="${header}"></th>
            <!-- 액션 버튼 유무 -->
            <th th:if="${type == 'manage'}" sec:authorize="hasAuthority('ADMIN')" th:text="${headers[4]}"></th>
            <th th:if="${type == 'rental'}" sec:authorize="hasAuthority('CAR_RENTAL')" th:text="${headers[4]}"></th>
        </tr>
        </thead>
        <tbody>
        <!-- manage 테이블 -->
        <tr th:each="dataObj : ${dataList}" th:if="${type} == 'manage'">
            <td th:each="data, iter : ${dataObj}" th:if="${iter.index} != 0" th:text="${data}" class="align-middle py-4"></td>
            <td sec:authorize="hasAuthority('ADMIN')" class="align-middle">
                <button type="button" class="btn btn-info btn-sm"
                        th:attr="data-target='#editCarModal-' + ${dataObj[0]}" data-toggle="modal">수정
                </button>
                <button type="button" class="btn btn-secondary btn-sm"
                        th:attr="data-car-number=${dataObj[1]}" onclick="deleteCar(this)">삭제
                </button>
            </td>
        </tr>
        <!-- rental 테이블 -->
        <tr th:each="dataObj : ${dataList}" th:if="${type} == 'rental'">
            <td th:each="data, iter : ${dataObj}" th:if="${iter.index} != 0" th:text="${data}" class="align-middle py-4"></td>
            <td sec:authorize="hasAuthority('CAR_RENTAL')" class="align-middle">
                <button type="button" class="btn btn-info" th:attr="data-car-id=${dataObj[0]}" onclick="rentCar(this)">대여
                </button>
            </td>
        </tr>
        <!-- rentalHistory 테이블 -->
        <tr th:each="dataObj : ${dataList}" th:if="${type} == 'rentalHistory'">
            <td th:each="data, iter : ${dataObj}" th:if="${iter.index} != 0" th:text="${data}" class="align-middle py-4"></td>
            <td sec:authorize="hasAuthority('CAR_RENTAL')" class="align-middle">
                <button th:if="${dataObj[5] == '대여 신청'}" type="button" class="btn btn-danger" th:attr="data-history-id=${dataObj[0]}" onclick="deleteRental(this)">취소</button>
                <button th:if="${dataObj[5] == '대여 중'}" type="button" class="btn btn-info" th:attr="data-history-id=${dataObj[0]}" onclick="returnCar(this)">반납</button>
                <button th:if="${dataObj[5] == '반납 완료'}" type="button" class="btn btn-secondary" disabled>반납 완료</button>
                <button th:if="${dataObj[5] == '취소 완료'}" type="button" class="btn btn-secondary" disabled>취소 완료</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>