<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<!-- Content -->
<div layout:fragment="content">
    <div class="container my-4">
        <div class="card bg-light rounded">
            <div class="card-body">
                <div class="text-center">
                    <!-- Your main content here -->
                    <h1>주행시험장 관리 시스템</h1>
                    <br>
                    <p>원하는 서비스를 선택해 주세요.</p>
                    <button sec:authorize="hasAuthority('CAR_RENTAL')" type="button" class="btn btn-primary mx-1" onclick="location.href='/car/rental'">차량 대여</button>
                    <button type="button" class="btn btn-secondary mx-1" onclick="location.href='/car/manage'">차량 보기</button>
                    <button sec:authorize="hasAuthority('TEST_TRACK')" type="button" class="btn btn-success mx-1" onclick="location.href='/track/manage'">시험장 보기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>