<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<!-- Content -->
<main layout:fragment="content">
    <div class="container my-4">
        <div class="card bg-light rounded">
            <div class="text-center container">
                <!-- Your main content here -->
                <h1 class="my-4">주행시험장 관리 시스템</h1>
                <p>원하는 서비스를 선택해 주세요.</p>
                <br>
                <div class="row pb-4 justify-content-center">
                    <div sec:authorize="hasAuthority('CAR_RENTAL')"
                         class="mx-2 col col-md-2 text-lg btn btn-outline-info py-3" onclick="location.href='/car/rental'">차량
                        대여
                    </div>
                    <div class="mx-2 col-md-2 col btn btn-outline-info py-3" onclick="location.href='/car/manage'">차량 보기
                    </div>
                    <div class="mx-2 col-md-2 col btn btn-outline-info py-3"
                         onclick="location.href='/center/track/reserve'">시험장 보기
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
</html>