<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<!-- Content -->
<main layout:fragment="content">
    <div class="container my-4">
        <div class="card bg-light rounded">
            <div class="card-body">
                <ul>
                    <li><!-- todo: 스웨거로 주행, 주유 API 명세 --></li>

                    <li><!-- todo: 에러 메시지, 로그들 정리 --></li>
                    <li><!-- todo: 도커로 컨테이너 생성 --></li>
                    <li><!-- todo: README.md 수정 --></li>

                </ul>
            </div>
        </div>
    </div>
</main>
</html>