<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<!-- Content -->
<main layout:fragment="content">
    <div class="container my-4">
        <div class="card bg-light rounded">
            <div class="card-body">
                <ul>
                    <li><!-- todo: carManage 추가, 수정, 삭제 권한 설정 --></li>
                    <li><!-- todo: 역할별 기능 부여 페이지 --></li>
                    <li><!-- todo: 시험장 관리 페이지 --></li>
                </ul>
            </div>
        </div>
    </div>
</main>
</html>